/* Box sizing rules */
* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: inherit;
}

/*Remove margin and padding from elements*/
body,
h3,
h4,
ul,
ol,
li,
dd,
dl,
dd,
dt {
	margin: 0px;
	padding: 0px;
}

/* Inherit colors */
h1,
h2,
h3,
h4,
p,
li,
dt,
dd {
	color: currentColor;
}

body {
	/* Hide persistent scrollbar in IE (10/11) and Edge */
	-ms-overflow-style: -ms-autohiding-scrollbar;

	/* Anchor links will transition rather than skip */
	scroll-behavior: smooth;

	/* Reset font size to 1rem, in case it has a pixel value */
	font-size: 1rem;

	min-height: 100vh;
}

html {
	font-size: responsive;
  }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration: underline;
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	cursor: pointer;
}
/* Turn off the recent search in WebKit. */
::-webkit-search-decoration {
	display: none;
}

/* Normalise form field line-height in WebKit */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
	line-height: normal;
}

/* Make a search box appear like a text box */
input[type="search"] {
	-webkit-appearance: textfield;
}

/* Make images responsive */
img {
	max-width: 100%;
	height: auto;
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	body {
		scroll-behavior: auto;
	}

	* {
		-webkit-animation: none !important;
		animation: none !important;
		-webkit-transition: none !important;
		transition: none !important;
	}
}

/* end of reset css */
:root {
	--orange: orange;
	--whitedf: #dfdfdf;
	--black1f: #1f1f1f;
	--whitef1: #f1f1f1;
	--whitef8: #8f8f8f;
	--goshadow: rgba(32, 33, 36, 0.28);
	--goborder: rgba(223, 225, 229, 0);
	--goborder2: #dfe1e5;
	--gobutton: #c6c6c6;
	--textcolor: #222222;
	--colorborder: #f8f8f8;
	--blueweal: #118ed6;
	--firstlight: #F7FCFF;
	--secondlight: #F0F6FA;
	--thirdlight: #EAF1F4;
	--firstgray: #E3EBEF;
	--secondgray: #E3EBEF;
	--thirdgray: #DCE5E9;
}

#main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	grid-auto-flow: dense;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(var(--firstgray)),
		to(var(--secondgray))
	);
	background-image: linear-gradient(to top var(--firstlight), var(--firstlight));
	/* background: #F9FAFA; */
  	color: #222222;
}

#main header {
	margin: 0px;
	position: relative;
	top: 0;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(var(--firstgray)),
		to(var(--secondgray))
	);
	background-image: linear-gradient(to left, var(--firstlight), var(--secondlight));
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid #c6c6c6;
	color: #222;
}

#main footer {
	margin-top: 0.4rem;
	padding-top: 2rem;
	position: relative;
	bottom: 0;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(var(--firstgray)),
		to(var(--secondgray))
	);
	background-image: linear-gradient(to bottom var(--firstlight), var(--secondlight));
	box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid var(--thirdgray);
	color: var(--black1f);
}

#main footer p {
  font-family: monospace;
  text-align: center;
}


header .info {
	display: grid;
	grid-template-columns: 50px 5fr auto;
	grid-auto-flow: column;
	-webkit-box-align: center;
	align-items: center;
}

header .info .logo {
	width: 100%;
	height: auto;
}

header .searchbar {
	position: relative;
	border: none;
	width: 100%;
	padding-left: 0.1rem;
}

#mainsearch {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	align-content: center;
}

#mainsearch .searchdiv1 {
	-webkit-box-flex: 1;
	flex: 1 1;
	position: relative;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	border: 1px solid var(--thirdgray);
	background-image: transparent;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background: var(--firstlight);
}

#mainsearch .searchdiv1:hover {
	-webkit-box-flex: 1;
	flex: 1 1;
	position: relative;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	border: 1px solid var(--thirdgray);
	background-image: transparent;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	background: var(--secondlight);
}

#searchfield {
	width: 35vw;
	height: 40px;
	border: none;
	outline-color: none;
	background: #fff;
	line-height: 25px;
	color: var(--black1f);
	font-family: monospace, "Courier New", Courier;
	font-size: 1rem;
	margin-left: 0.8rem;
	box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1);
}

#searchfield:hover {
	width: 35vw;
	height: 40px;
	border: none;
	outline-color: none;
	background: #fff;
	line-height: 25px;
	color: var(--black1f);
	font-family: monospace, "Courier New", Courier;
	font-size: 1rem;
	margin-left: 0.8rem;
	box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1);
}

#searchfield:focus {
 border: none;
 outline-color: none;
}

#searchbar .sbutton {
	/* padding: 20px; */
	display: inline-block;
	box-sizing: content-box;
}

input[type="submit"] {
	background-image: transparent;
	background-color: transparent;
	border: none;
	margin: 0px;
	padding-right: 2rem;
	cursor: pointer;
	position: relative;
}

span {
	position: relative;
}

span:after {
	font-family: FontAwesome;
	content: "\f002";
	font-size: 1rem;
	position: absolute;
	right: 1rem;
	top: 1px;
	pointer-events: none;
	color: var(--blueweal);
}

.inn-nav {
	display: grid;
	grid-auto-flow: column;
	list-style-type: none;
}

.nav li {
		background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(var(--firstlight)),
		to(var(--secondlight))
	);
	background-image: linear-gradient(to right var(--firstlight), var(--secondlight));
	padding: 1rem;
	color: var(--black1f);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.nav li a {
	color: var(--blueweal);
	text-decoration: none;
	text-shadow: 0px 1px 2px var(--thirdgray);
}

.nav li a:hover {
	color: #118ed6;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.nav li.icon {
	display: none;
}

.nav li:hover {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(var(--firstlight)),
		to(var(--secondlight))
	);
	background-image: linear-gradient(to top, var(--firstlight), var(--secondlight));
	padding: 1rem;
	color: #118ed6;
	box-shadow: inset 0px 2px 3px rgba(16, 114, 206, 0.2);
 	text-align: center;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
}

#main-c .item {
  margin: 0.4rem;
}

#tribute-info li {
 margin-left: 1rem;
}


#main-c .item-title {
  text-align: center;
  padding: 1.2rem;
  font-family: monospace;
  font-size: 1.5rem;
}

#main-c .item-image figure {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  align-content: center;
}

#image {
  flex: 1 0;
  border: 3px solid var(--goborder2);
  box-shadow: inset 0px 2px 3px rgba(16, 114, 206, 0.2);
}

#img-caption {
  flex: 3 0;
  align-self: flex-end;
  text-align: left;
  text-transform: capitalize;
  padding-left: 0.5rem;
}

#image {
  align-self: center;
  justify-self: center;
}

#main-c .item-tribute {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: capitalize;
}

#tribute-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  gap: 0.2rem;
}

#tribute-info div  {
  border: 1px solid var(--thirdgray);
  padding: 0.8rem;
  background-image: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #FAFDFF;
}

header {
	grid-column: 1 / -1;
}

#main-c {
	grid-column: 1 / -1;
	grid-row: auto;
}

footer {
	grid-column: 1 / -1;
}

/* Mobile 600px-------------------------------------------*/

@media screen and (max-width: 600px) {
	body {
		/* width: 95vw;
		margin: 0 auto; */
	}

	#main {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-flow: row;
		grid-template-areas:
			"header"
			"mmenu"
			"main "
			"footer";
  }

	#main .info {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-flow: row;
		-webkit-box-align: center;
		align-items: center;
		gap: 5vh;
	}

	header .info .logo {
		display: none;
	}

	#main .inn-nav {
		display: grid;
	}

	#main .searchbar {
		margin-top: 0.5rem;
	}

	#mainsearch .searchdiv1 {
		width: 95vw;
		max-width: 100%;
	}

	#mainsearch .searchdiv1:hover {
		width: 95vw;
		max-width: 100%;
	}

	#searchfield {
		width: 80vw;
	}

	#searchfield:hover {
		width: 80vw;
	}

	.nav li:not(:first-child) {
		display: none;
	}

	.nav li.icon {
		float: right;
		display: block;
	}

	#main-c .item-image figure {
		display: block;
	  }

@media screen and (max-width: 600px) {
	.nav.responsive ul {
		grid-template-columns: 1fr;
		grid-auto-flow: row;
	}

	#main .responsive .inn-nav {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-flow: row;
		max-width: 100%;
	}

	.nav.responsive {
		position: relative;
	}
	.nav.responsive .icon {
		position: relative;
		right: 0;
		top: 0;
	}
	.nav.responsive li {
		float: none;
		display: block;
		text-align: left;
	}
}
